.container-fluid{
    border: 1px solid black;
}

.col-2{
    background-color: #fafafa;
}
.col-2 img{
    border-radius: 50%;
}
.col-8{
    background-color: #fafafa;
}
.col-8 p{
    display: grid;
    justify-content: center;
    text-justify: auto;
}

#carouselExampleCaptions {
    width: 450px;
    height: 600px;
    overflow: hidden;
}

.carousel-item img {
    width: 450px;
    height: 600px;
    object-fit: cover;
    /* Ajusta la imagen para llenar el contenedor sin distorsionarse */
}















/*
body{
    background-color:#F4E1D2;
}

.contenedor{
    background-color: rgb(235, 217, 180);
    width: 99%;
    border: 5px solid black;
    border-radius: 105px;
    font-family: 'Courgette', cursive;
}
header{
    width: 98%;
    height: 120px;
    display: flex;
    justify-content:space-around;
}

header ul{
    padding: 5px;
    display: flex;
    margin: 0;
    gap: 30px;
}

header li{
    display: flex;
}
header li img{
    filter: drop-shadow(0px 0px 12px gold);
    width: 200px;
    height: 110px;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid black;
}

section{
    background-color: #E7C6A5;
    width: 98%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: 30px;
    border: 5px solid black;
}
section img{
    width: 150px;
    height: 160px;
    border-radius: 50%;
    margin: 30px;
    border: 5px solid brown;
}
section h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
section p{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    width: 50%;
    margin-left: 350px;
    display: flex;
    justify-content: center;
}

.contenedor2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Courgette', cursive;
}

article{
    width: 500px;
    height: 450px;
    display: grid;
    justify-content: center;
    border: 5px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    background-color: #e2c5a6;
}
article h1{
    font-size: 30px;
    font-family: 'Courgette', cursive;
    display: flex;
    justify-content: center;
}
article ul {
    padding: 20px;
    display: flex;
    gap: 30px;
}

.article-texto {
    display: flex;
    justify-content: center;
}
.article-texto div {
    text-align: center;
}

.article-texto p {
    color: #6A1B1A;
    text-decoration: none;
}
article img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #b68a5d ;
}
.contenedor2-img{
    margin-top: 45px;
    width: 300px;
    height: 200px;
    border: 5px solid black;
    border-radius: 20px;
}

aside{
    background-color: #e2c5a6;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 450px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid black;
}
aside table{
    display: flex;
    justify-content: center;
}
aside h1{
    font-family: 'Courgette', cursive;
    display: flex;
    justify-content: center;
}
aside p{
    display: flex;
    justify-content: none;
}
aside th{
    padding: 10px;
}

.baner{
    display: flex;
    justify-content: center;
    border: 5px solid black;
    background-color: rgb(235, 239, 236);
    border-radius: 20px;
}
.baner img{
    border-radius: 20px;
    width: 98%;
    height: 200px;
    animation: slide 8s infinite alternate ease-in;
}
@keyframes slide{
    0%{margin-left: 0%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    100%{margin-left: -300%;}
}

.contenedor3{
    background-color: #b68a5d;
    width: 97%;
    height: 570px;    
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    font-family: 'Courgette', cursive;
}

.contenedor3 h1{
    display: flex;
    justify-content: center;
}
.contenedor3 div {
    display: flex;
    justify-content:center;
}
.contenedor ul{
    padding: 5px;
    display: flex;
    gap: 30px;
}
.contenedor3 li{
    display: flex;
    background-color: #F4E1D2;
    border: 5px solid black;
    border-radius: 50%;
}
.contenedor3 img{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.contenedor3 p{
    width: 650px;
    border: 5px solid black;
    border-radius: 20px;
    margin-left: 40px;
    display: grid;
    background-color: #d2b88e;
    justify-content: space-around;
    font-size: 18px;
    padding: 10px;
}

footer{
    margin-top: 10px;
    padding: 20px;
    width: 97%;
    background-color: #d2b88e;
    border-radius: 20px;
    border: 5px solid black;
    display: flex;
    justify-content: space-around;
}
footer h1{
    font-size: 50px;
}
footer ul{
    display: flex;
    padding: 5px;
    margin: 0;
    gap: 30px;
}
footer ul li{
    list-style: none;
}
footer li{
    display: flex;
    background-color: #d2b88e;
    padding: 5px;
}
footer ul li a {
    width: 70px;
    height: 70px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

footer ul li a img {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

footer ul li a:hover img {
    color: #fff;
    transform: rotateY(360deg);
}

footer ul li a:before {
    top: 100%;
    left: 0;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

footer ul li a:hover:before {
    top: 0;
}

footer ul li:nth-child(1) a:before {
    background: #3b5999;
}

footer ul li:nth-child(2) a:before {
    background: #55acee;
}

footer ul li:nth-child(3) a:before {
    background: #0077b5;
}

footer img{
    width: 70px;
    height: 70px;
}
.copy{
    border: 5px solid black;
    width: 98%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
*/