body{
    padding: 15px;
}

.navbar{
    border-radius: 20px;
    font-size: 25px;
}


/*      Carusel     */
.carousel{
    padding-top: 10px;
}
.carousel-inner{
    border-radius: 20px;
}
.carousel-caption h5{
    color: black;
}
.carousel-caption p{
    color: black;
}

/*      Login     */

form{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}