@mixin baner($display,$border,$color){
    display: $display;
    border: $border;
    border-radius: 20px;
    background-color: $color;
}

.baner {
    justify-content: center;
    @include baner(flex, 5px solid black,rgb(235, 239, 236));
}

.baner img {
    width: 98%;
}