@mixin footer($display,$pading,$color){
    display: $display;
    padding: $pading;
    background-color: $color
}

footer {
    margin-top: 10px;
    width: 97%;
    border-radius: 20px;
    border: 5px solid black;
    justify-content: space-around;
    @include footer(flex,20px ,#d2b88e);
}

footer h1 {
    font-size: 50px;
}

footer ul {
    padding: 5px;
    display: flex;
    margin: 0;
    gap: 30px;
}

footer li {
    @include footer(flex, 5px, #d2b88e);
}

footer img {
    width: 70px;
    height: 70px;
}