@mixin header($color,$width,$radius){
    background-color:$color ;
    width: $width;
    font-family: 'Courgette', cursive;
    border-radius: $radius;
}

.contenedor {
    border: 5px solid black;
    @include header(rgb(235, 217, 180),99%,10px);
}

header {
    height: 120px;
    display: flex;
    justify-content: space-around;
    @include header(none, 98%, none);
}

header ul {
    padding: 5px;
    display: flex;
    margin: 0;
    gap: 30px;
    @include header(none, 98%, none);
}

header li {
    display: flex;
}

header li img {
    height: 110px;
    @include header(none, 200px, none);
}

.logo {
    border: 5px solid black;
    @include header(none, 100px, 50%);
}